node_modules/
frontend/node_modules/
frontend/dist/
.chrome-debug/
drafty.sql
.env
src/DRAFTY/.env
vendor/
src/vendor/
src/DRAFTY/vendor/
storage/logs/
src/DRAFTY/storage/logs/
drafty2.sql
docs(NOOOOOOOOOOO)